@import url('https://fonts.googleapis.com/css?family=VT323');


html, body, .app-container, #root{
    height: 100%;
}

.App {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: 'VT323', monospace;
  font-size: 110%;
  background-image: "http://i.imgur.com/9f81ghR.png";
  height: 100%
}

.body{
   height: 100%;
}

.Back{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Title{
  /*align-self: flex-start;*/
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
